*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sections-containers{
    width: 100%;
    /* position: relative; */
    text-align: center;
}



.form-sectionss{
     position: relative;
     width: 100%;
     left: 30px;
}

.card-body-form{
    position: absolute;
    text-align: center;
    left: 20%;
    
}

#blood-group-ab{
    width: 330px;
    padding: 11px;
    border-radius: 5px;
    border-color: rgb(196, 192, 192);
}

#blood-group-ab:focus{
    box-shadow: 2px 2px 10px 2px hsl(211, 53%, 33%);
}

#curren-donate-status{
    width: 330px;
    padding: 11px;
    border-radius: 5px;
    border-color: rgb(196, 192, 192);
}

#curren-donate-status:focus{
    
    box-shadow: 2px 2px 3px 3px rgb(17, 75, 114);
}

