{% extends "base.html" %}
{% load static %} <!-- Load the static template tag library -->

{% block css %}
   {% static 'css/home.css' %}
{% endblock css%}
   
{% block content %}

 <div class="containers">
    <div class="banner-section">
        <div class="contain">
         <h1>Once a blood donor, always a lifesaver</h1>
         <h1>WelCome <br> Blood Donation Area</h1>
 
         <h1>Be a Donor</h1>


         <div class="button-sections">
            <button class="login-button"><a href="{% url 'login' %}">Login</a></button>
            <button class="register-button"><a href="{% url 'register' %}">Register</a></button>
         </div>
 
        </div>
 
    </div>

 </div>


{% endblock content %}
