<!-- UpdateProfile.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    {% if object.image %}
                    <img class="image" class="img-account-profile rounded-circle mb-2" src="{{ object.image.url }}" alt="">
                   
                    <!-- Profile picture help block-->

                  
                    <!-- Profile picture upload button-->
                   
                     {% endif %}
                   
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Account details fields-->
                        <div class="form-group">
                            <label for="id_username">Username:</label>
                            <input type="text" class="form-control" id="id_username" name="username" required value={{object.username}}>
                        </div>
                        <div class="form-group">
                            <label for="id_first_name">First Name:</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name" required  value={{object.first_name}}>
                        </div>
                        <div class="form-group">
                            <label for="id_last_name">Last Name:</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name" required  value={{object.last_name}}>
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" class="form-control" id="id_email" name="email" required  value={{object.email}}>
                        </div>

                        <div class="form-group">
                            <label for="id_password">password:</label>
                            <input type="password" class="form-control" id="id_password" name="password" required  value="">
                        </div>
                       
                        <div class="form-group">
                            <label for="id_bloodgroup">Blood Group:</label>
                            <select class="form-control" id="id_bloodgroup" name="bloodgroup" required>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_donateStatus">Donate Status:</label>
                            <select class="form-control" id="id_donateStatus" name="donateStatus" required>
                                <option value="False">Already Donated</option>
                                <option value="True">Available</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_district">District:</label>
                            <input type="text" class="form-control" id="id_district" name="district" required  value={{object.district}}>
                        </div>
                        <div class="form-group">
                            <label for="id_subdistrict">Subdistrict:</label>
                            <input type="text" class="form-control" id="id_subdistrict" name="subdistrict" required  value={{object.subdistrict}}>
                        </div>
                        <div class="form-group">
                            <label for="id_union">Union:</label>
                            <input type="text" class="form-control" id="id_union" name="union" required  value={{object.union}}>
                        </div>
                        <div class="form-group">
                            <label for="id_contract">Contract:</label>
                            <input type="text" class="form-control" id="id_contract" name="contract" required  value={{object.contract}}>
                        </div>
                        <div class="form-group">
                            <label for="id_image">Image:</label>
                            <input type="file" class="form-control" id="id_image" name="image" value={{object.image}}>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.image{
    width: 350px;
    height: auto;
    border-radius: 50%;
}
</style>
{% endblock content %}
