{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="h-100 bg-ligth">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6 d-none d-xl-block">
                <img src="{% static 'img/register_page.jpg' %}" alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body p-md-5 text-black">
                        <h3 class="doner" class="header mb-5 text-uppercase">Blood Donor registration form</h3>


                        
                         
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1m">Username:</label>
                                    <input type="text" name="{{ form.username.name }}" class="form-control form-control-lg"  placeholder="User Name"/>

                                    {% for error in form.username.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1n">Email:</label>
                                    <input type="email" name="{{ form.email.name }}" class="form-control form-control-lg"  placeholder="Email"/>
                                    {% for error in form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1m1">First Name:</label>
                                    <input type="text" placeholder="First Name" name="{{ form.first_name.name }}" class="form-control form-control-lg"/>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1n1">Last Name:</label>
                                    <input type="text" name="{{ form.last_name.name }}" class="form-control form-control-lg" placeholder="Last Name"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="{{ form.password.id_for_label }}">Password:</label>
                                    <input type="password" name="{{ form.password.name }}" class="form-control form-control-lg" placeholder="Password"/>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="blood_group">Blood Group:</label> <br>
                                        <select name="bloodgroup" class="form-select form-select-lg">
                                            <option value="A+">A+</option>
                                            <option value="B+">B+</option>
                                            <option value="AB+">AB+</option>
                                            <option value="O+">O+</option>
                                            <option value="A-">A-</option>
                                            <option value="B-">B-</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O-">O-</option>
                                        </select>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="donate_status">Current Donate Status:</label>
                                    <select name="donate_status" class="form-select form-select-lg">
                                        <option value="False">Already Donated</option>
                                        <option value="True">Available</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="district">District:</label>
                                    <input type="text" name="{{ form.district.name }}" class="form-control form-control-lg" placeholder="District"/>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="{{ form.subdistrict.id_for_label }}">Upazila :</label>
                                    <input type="text" name="{{ form.subdistrict.name }}" class="form-control form-control-lg" placeholder="Upazila:"/>
                                </div>
                            </div>

                             <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="union">Union: </label>
                                    <input type="text" name="{{ form.union.name }}" class="form-control form-control-lg" placeholder="Union"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="{{ form.contract.id_for_label }}">Contract Number:</label>
                                    <input type="number" name="{{ form.contract.name }}" class="form-control form-control-lg" placeholder="Contract Number"/>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="{{ form.image.id_for_label }}">Profile:</label>
                                    <input type="file" name="{{ form.image.name }}" class="form-control form-control-lg"/>
                                </div>
                            </div>
                        </div>



                        <div class="d-flex justify-content-end pt-3">
                            <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .img-fluid {
        height: 100%;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .doner{
        size: 10px;
    }
</style>

{% endblock content %}
