<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodForHuman</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="{% block css %}  {% endblock css%}">

</head>
<body>
      
       {% load static %}
         <nav  class="navbar navbar-expand-lg navbar-light  bg-light">
         <div col-2>
         <div>
         <div>
         <a class="navbar-brand" href="{% url 'home' %}">
         <img class="logo" src="{% static 'img/blood_logo.jpg' %}" alt="Blood">
         </a>

        
       
        <a class="navbar-brand" href="{% url 'home' %}">BloodForHuman</a>
        </div>
        </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="my-hover" class="nav-link" href="{% url 'searchbar' %}">Search Donor<span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <form class="form-inline my-4 my-lg-0" action="{% url 'searchbar' %}" method="post">
             {% csrf_token %}
            <input id="location" name="location" class="form-control mr-sm-3" type="search" placeholder="Search by your location" aria-label="Search">
            <input id="bloodgroup" name="bloodgroup" class="form-control mr-sm-2" type="search" placeholder="Blood Group" aria-label="Search">
            <button class="btn btn-outline-success my-3 my-sm-2" type="submit">Search</button>
          </form>

           {% if user.username %}
          <div>
          <div>
         
            <div class="user-profile"> 
            {% if profile_image %}
                <img class="image-size" src="{{ profile_image.url }}" alt="Profile Picture" title="{{ request.user.username }}">
            {% endif %}
           </div>
           </div>

          <a style="margin-left: 10px " href="{% url 'profile' request.user.id %}">Profile</a>
          <a style="margin: 10px " href="{% url 'logout' %}">Logout</a>
          </div>
          </div>
          {% else %}
             <div>
          <div style="margin-left: 20px">anonymous</div>
          <a style="margin-left: 10px " href="{% url 'register' %}">Register</a>
          <a style="margin: 10px " href="{% url 'login' %}">Login</a>
          </div>
          </div>
          {% endif %}
        </div>
      </nav>

      {% block content %}
        
      {% endblock content %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .image-size{
      width: 45px;
      margin-left: 50px;
      border-radius: 50%;
    }

    .logo{
      width: 100px;
      border-radius: 50%;
    }

    .my-hover:hover{
      color: red;
      transform: scale(1.5);
      text-decoration: none;
    }


</style>

</body>
</html>