{% extends "base.html" %}

{% load static %} <!-- Load the static template tag library -->

{% block css %}
   {% static 'css/bloodlist.css' %}
{% endblock css%}

{% block content %}

<div class="container">
<div class="left-section">
<div class="bg-img">
    <form class="container1" method="post" action="{% url 'searchdonors' %}">
    {% csrf_token %} 
    <h1>Blood Group</h1>
    <label for="blood-group"><b>Select blood group:</b></label>
    <div class="dropdown">
        <select name="blood_group" id="blood-group">
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option>
            <option value="O+">O+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
            <option value="O-">O-</option>
        </select>
    </div>

    <div class="search-by-locations">
       <label for="location"><b>Enter Location:</b></label>
       <input type="text" id="location" name="location" placeholder="Search by district, subdistrict, union">
       <br>

       <div class="button-blood-group" >
          <button class="button" id="submit-button-btn" type="submit">Search</button>
       </div>

    </div>

</form>

</div>
    </div>


    <!-- blood group sections ended here -->



    <div class="right-section">

        {% if availablelist %}

        {% for doner in availablelist %}

        <div class="row">
            
            <div class="profile-photo">
                {% if doner.image %}
                <img class="image-size" src="{{ doner.image.url }}" alt="Profile Picture" title="{{ doner.username }}">
                {% endif %}

                <div><a href="#"></a></div>
            </div>

            <div class="cols">
                 <p>{{doner.bloodgroup}}</p>
            </div>

            <div class="button">
                 <a href="{% url 'donerdetails' doner.id %}">Detaits</a>
             </div>

        </div>

        {% endfor %}
        {% else %}
         <h1 class="nai">Empty List</h1>
        {% endif %}
    </div>
</div>
  
{% endblock content %}